.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.orig
.*.swp
.DS_Store
._*
.git
.gitignore
.hg
.lock-wscript
.npmrc
.svn
.wafpickle-N
CVS
config.gypi
node_modules
npm-debug.log

.github
.changeset
src
pnpm-lock.yaml
package-lock.json
yarn.lock
tsconfig.json
eslint.config.js
CHANGELOG.md



